process {
    withName: NANOPLOT {
        memory = 64.GB
        cpus   = 16
        time   = 23.h
    }
}

process {
    withName: PORECHOP_PORECHOP {
        memory = 64.GB
        cpus   = 24
        time   = 23.h
    }
}

process {
    withName: UNICYCLER {
        memory = 256.GB
        cpus   = 32
        time   = 23.h
    }
}

process {
    withName: DRAGONFLYE {
        memory = 256.GB
        cpus   = 32
        time   = 23.h
    }
}

